---
layout: default
---

<div class="post">


  <div class="about-intro">
    {% if page.profile.image %}
    <div class="profile-pic">
      <img class="img z-depth-2 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="{{ site.first_name }} {{ site.last_name }}">
      <div class="profile-caption">
        <p class="profile-title">PhD Candidate in Economics</p>
        <p class="profile-affiliation">Columbia University</p>
      </div>
    </div>
    {% endif %}

    <div class="about-text">
      {% if page.description %}
      <header class="post-header">
        <p class="desc">{{ page.description }}</p>
      </header>
      {% endif %}

      <div class="muted author-bio clearfix">
        {{ content }}
      </div>

      {% if page.social %}
      <div class="social">
        {% include social.html %}
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
      {% endif %}
    </div>
  </div>

  <article>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

  </article>

</div>
